* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    transition: 0.7s;
}

.wrapper {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 20px;
}

header {
    height: 60px;
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a{
    margin-left: 25px;
    color: #000;
}

a {
    text-decoration: none;
}

.main-section {
    height: calc(100vh - 60px);/* -header */
}

.main-section-content {
    padding-top: 20vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-section-photo {
    background: url(./assets/Ellipse.webp) no-repeat;
    padding: 30px 30px 0px 0px;
    background-position: right top;
    background-size: 100%;
}

.main-section-text > p {
    font-size: 48px;
    font-weight: 700;
}

.main-section-text > h1 {
    font-size: 36px;
    font-weight: 600;
}

.main-section-text > * {
    margin-top: 50px;
}

.BTN-nav-bottom {
    position: absolute;
    bottom: 20px;
    right: calc(50vw - 40px/2);
}

.inner-ellipse-section {
    background:url(./assets/Ellipse.webp) no-repeat;
    background-size: contain;
    padding: 40px 0px 10px 20px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.inner-parm-in-section {
    background-color: rgb(241, 241, 241);
    border-radius: 40px;
    font-size: 36px;
    font-weight: 700;
    padding: 20px;
}

.inner-parm-in-section-skills {
    display: flex;
    justify-content:space-around;
}

.inner-column-skills {
    width: 45%;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #000;
    border-radius: 10px;
}
.active-progress {
    height: 20px;
    border-radius: 10px;
    background-color: #363CFF;
}

.js-active-progress {
    width: 30%;
}

.html-active-progress {
    width: 80%;
}

.css-active-progress {
    width: 90%;
}

.sass-active-progress {
    width: 85%;
}

.git-active-progress {
    width: 30%;
}

.figma-active-progress {
    width: 90%;
}

.inner-column-skills > p{
    margin: 30px 0px 10px 0px;
}

.education-section, .languages-section, .code-style-section, footer {
    margin-top: 20vh;
}

.name-education, .name-language  {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
}

.about-education, .about-language {
    font-size: 16px;
    font-weight: 600;
}

.inner-parm-in-section > p:first-child {
    margin-top: 0px;
}
.inner-column-skills > p:first-child {
    margin-top: 0px;
}

.code-str-2 {
    padding-left: 2em;
}
.code-str-3 {
    padding-left: 4em;
}

.color-let {
    color: #ff4f46;
}

.color-func {
    color: #213bff;
}

.code {
    font-weight: 400;
    font-size: 24px;
    /* font-family: 'Roboto'; */
}

footer {
    height: 10vh;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    align-items: flex-end;
}

.inner-content-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-github {
    font-weight: 800;
    color: #000;
}

.RS-logo {
    width: 60px;
}